.header {
    background-color: #6c9dc6;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.headerContainer {
    display: flex!important;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    h2 {
        margin-left: 60px;
        color: #ffffff;
    }
}